@model projet2_CRA.Models.User
@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Formulaire Utilisateur";
}

<h2>Je suis la vue du formulaire utilisateur</h2>

@Html.Partial("PartialForm", Model)
